         <div id="panel">
               <div id="header">
                   <ul>                      
 	                   <li><a href="logout.php" title="Logout"><span>Logout</span></a></li>
                       <li><a href="settings.php" title="Manage Your Account"><span>Settings</span></a></li> 
                       <li><a href="messages.php" title="Check your Inbox"><span>Messages</span></a></li> 
                       <li><a href="profile.php" title="Profile page"><span>Profile</span></a></li>      
                       <li><a href="index.php" title="Homepage" ><span>Home</span></a></li>       
               	     <li><div class="search">
                           <form method="GET" id="search" action="index.php">
                           <span>
                           <input type="text" name="query" id="s" title="Search Here ..." />
						   <input type="hidden" name="action" value="search" />
                           <input name="search" type="image" src="images/search.gif" value="Go" id="search" class="btn" />
                           </span>
                           </form>    
                           <div class="clr"></div>
                           </div>
                       </li>
                   </ul>
                </div>    <!-- header closed-->       
         </div>       <!-- panel closed-->

